.header-top {
  padding: 17px 0;
  box-shadow: 0 3px 15px rgba(157, 157, 157, 0.14);
}

.header-lk {
  padding: 3px 0;
  box-shadow: 0 1px 5px rgba(157, 157, 157, 0.14);
  position: relative;
  z-index: 60;
  background: #fff;
}

.logo_wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-top {
  display: flex;
  align-items: center;
  flex-basis: 85%;
}

.logo-top__img {
  flex-basis: 15%;
  display: inline-block;
}

.logo-top__title {
  font-size: 40px;
  font-weight: 700;
  color: #001e45;
  flex-basis: 75%;
  margin-left: 10px;
  margin-right: 10px;
}

.header-btn {
  height: 48px;
  font-size: 16px;
  color: #3a499d;
  background-color: #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px;
  line-height: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  padding: 0 1.9vw;
  transition: background 0.3s ease, color 0.3s ease, outline 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  height: 52px;
  white-space: nowrap;
  color: #3a499d;
  border: 0;
  position: relative;
  z-index: 50;
}
.header-btn:hover {
  color: #273583;
  background-color: rgba(102, 120, 143, 0.3);
}

.btn-fiolett {
  background: #3A499D;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 15px 30px;
}
.btn-fiolett:hover {
  background: #4F5FB7;
  color: #fff;
}

.logo-top__img--lk img {
  max-height: 38px;
}

@media only screen and (max-width: 848px) {
  .logo-top__title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 670px) {
  .logo-top__img {
    margin-right: 15px;
    max-width: 60px;
    min-width: 60px;
  }

  .logo-top__title {
    font-size: 18px;
    margin-left: 10px;
  }
}
.wrp-links {
  display: flex;
  flex-direction: column;
}
.wrp-links a {
  margin: 10px;
  font-size: 25px;
}

.section-message {
  background: #F5FAFF;
  min-height: calc(100vh - 96px);
  position: relative;
}

.map-wrp {
  margin: 20px 0;
  width: 100%;
}

.message-wrp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}

.bg_img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.bg_img img {
  display: block;
}

.message {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 30px;
  border: 2px solid #ebeef5;
  margin-top: 8px;
  position: relative;
  z-index: 50;
  width: 100%;
  color: #000234;
  line-height: 1.4;
  margin-bottom: 20px;
}
.message__img {
  flex-basis: 15%;
  flex-shrink: 0;
  margin-right: 10px;
}
.message__img img {
  max-width: 100px;
}
.message__info {
  flex-basis: 85%;
  line-height: 1.4;
}
.message__green {
  color: green;
}
.message__red {
  color: red;
}
.message__title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}
.message__subtitle {
  font-size: 18px;
  margin-bottom: 20px;
}

.message-status {
  margin-top: 20px;
  align-items: flex-start;
}
.message-status .message__img--status {
  flex-basis: 40%;
}
.message-status .message__img--status img {
  max-width: 100%;
}
.message-status .message__img--status picture {
  max-width: 100%;
}
.message-status .message__info--status {
  flex-basis: 60%;
  margin-left: 20px;
}

@media only screen and (max-width: 576px) {
  .message__title {
    font-size: 20px;
  }
  .message__subtitle {
    font-size: 16px;
  }
}
@media only screen and (max-width: 470px) {
  .message-status {
    flex-wrap: wrap;
  }
  .message-status .message__img--status {
    flex-basis: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .message-status .message__info--status {
    flex-basis: 100%;
  }
}
.section_lk {
  background: #F5FAFF;
  min-height: 100vh;
  position: relative;
}

.lk_wrp {
  padding: 80px 0;
  position: relative;
  z-index: 60;
}

.bg_img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.bg_img img {
  display: block;
}

.header-lk__btns {
  display: flex;
}

.btn-lk {
  display: flex;
  margin-right: 30px;
  align-items: center;
  font-size: 16px;
  box-shadow: none;
  border: 2px solid #3A499D;
  background: #fff;
  color: #3A499D;
  padding: 7px 12px;
  border-radius: 4px;
  transition: all 0.3s;
}
.btn-lk .ic_lk {
  width: 20px;
  height: 20px;
  fill: #3A499D;
  margin-right: 10px;
}
.btn-lk:last-child {
  margin-right: 0;
}
.btn-lk:hover {
  background: #3A499D;
  color: #fff;
}
.btn-lk:hover .ic_lk {
  fill: #fff;
}

.ic-refresh {
  transform: rotate(230deg);
}

.qr-inputs__group {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.qr-inputs__group label {
  margin-right: 15px;
  font-size: 16px;
  color: #3A499D;
  flex-basis: 50%;
}
.qr-inputs__group input,
.qr-inputs__group textarea,
.qr-inputs__group select {
  font-size: 16px;
  padding: 16px 10px;
  width: 100%;
  background: #fff;
  color: #3A499D;
  border-radius: 4px;
  border: 1px solid #ececec;
  line-height: 1.3;
}
.qr-inputs__group span {
  font-size: 16px;
  margin: 15px 0;
  color: #3A499D;
}

.qr-btns {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.qr-btn {
  color: #001837;
  border-radius: 40px;
  border: 1px solid #c1c1c1;
  padding: 15px 30px;
  background: #fff;
  margin-right: 10px;
  transition: all 0.3s;
}
.qr-btn:last-child {
  margin-right: 0;
}
.qr-btn:hover {
  background: #616681;
  color: #fff;
  border: 1px solid #616681;
}

.qr-btn--reverse {
  color: #fff;
  border: 1px solid #616681;
  background: #616681;
}
.qr-btn--reverse:hover {
  background: #fff;
  color: #001837;
  border: 1px solid #c1c1c1;
}

.qr-image img {
  max-height: 250px;
}

@media only screen and (max-width: 994px) {
  .qr-btns {
    flex-wrap: wrap;
  }

  .qr-btn {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 520px) {
  .btn-lk {
    margin-right: 10px;
    padding: 10px 10px;
  }
  .btn-lk .ic_lk {
    width: 15px;
    height: 15px;
    fill: #3A499D;
    margin-right: 0px;
  }

  .btn-lk span {
    display: none;
  }
}
@media only screen and (max-width: 442px) {
  .qr-inputs__group label {
    margin-right: 10px;
    font-size: 12px;
    flex-basis: 50%;
    line-height: 1.4;
  }
  .qr-inputs__group input,
.qr-inputs__group textarea {
    font-size: 14px;
  }

  .qr-btns {
    flex-wrap: wrap;
    margin: 15px 0;
  }
}
.section {
  position: relative;
  display: block;
  padding: 32px 0;
}

.product-form {
  padding: 20px 30px 30px 30px;
  border-radius: 16px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.14);
  margin-right: 25px;
}

.input_title {
  font: 700 30px Roboto, sans-serif;
  color: #001e45;
  margin-bottom: 20px;
}

.double-input {
  display: flex;
  position: relative;
}

.rouble {
  position: absolute;
  right: 30px;
  top: 22px;
  color: #66788F;
  font-size: 22px;
}

.input-wrp {
  margin-bottom: 7px;
  position: relative;
}
.input-wrp .input-product-title {
  font: 14px Roboto, sans-serif;
  line-height: normal;
  line-height: normal;
  color: #66788f;
  margin-bottom: 10px;
  display: block;
}

.input-wrp--slider {
  margin-bottom: 50px;
}

.calc-input {
  padding: 8px 16px;
  padding-top: 8px;
  font: 23px Roboto, sans-serif;
  line-height: normal;
  color: #001e45;
  border: 1px solid #dde1e6;
  background: #f2f2f7;
  border-radius: 10px;
  width: 100%;
  height: 65px;
  transition: color 0.3s, background 0.3s, border-color 0.3s;
  line-height: 144%;
  -webkit-user-select: text;
  margin-bottom: 30px;
}

.bordered-right {
  width: 79%;
  border-right: none;
  border-radius: 10px 0 0 10px;
  margin-bottom: 0;
}

.bordered-left {
  width: 21%;
  border-left: none;
  border-radius: 0 10px 10px 0;
  margin-bottom: 0;
}

.credit-term {
  left: 16px;
  top: 10px;
  pointer-events: none;
  position: absolute;
  font: 14px Roboto, sans-serif;
  line-height: normal;
  color: #66788f;
  transition: top 0.3s, left 0.3s, transform 0.3s, font-size 0.3s;
  line-height: 150%;
}

.input-slide {
  padding-top: 30px;
  margin-bottom: 0;
  font-size: 18px;
  border-radius: 10px 10px 0 0;
}

.b-radius-none {
  border-radius: 10px;
}

@media only screen and (max-width: 992px) {
  .product-form {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .product-form {
    padding: 0;
    box-shadow: none;
  }

  .input_title {
    font: 700 22px Roboto, sans-serif;
    color: #001e45;
    margin-bottom: 18px;
  }

  .calc-input {
    font: 18px Roboto, sans-serif;
  }
}
.input-err {
  border: 1px solid #cc003d;
  color: #cc003d;
  background: rgba(237, 0, 0, 0.05);
  margin-bottom: 5px;
}

.input-slide {
  margin-bottom: 0;
}

.err-msg {
  position: relative;
  display: block;
  color: #cc003d;
  border-radius: 4px;
  font-size: 14px;
  padding: 7px;
  bottom: 0;
  margin-bottom: 5px;
}

.ic_err {
  position: absolute;
  right: 15px;
  top: 22px;
  width: 24px;
  height: 24px;
  fill: #cc003d;
}

.ic_err-top48 {
  top: 48px;
}

.disabled {
  opacity: 0.5;
}

.ui-slider {
  background: #5865ae;
  height: 5px;
  border: none;
  border-radius: 0 4px 4px 4px;
  width: 100%;
  box-shadow: none;
  cursor: pointer;
  margin-top: -4px;
  margin-bottom: 35px;
}

.ui-slider-handle {
  border-radius: 50%;
  width: 19px !important;
  height: 19px !important;
  border: 5px solid #3a499d !important;
  margin-top: -2px;
  cursor: pointer !important;
  background: #fff !important;
  z-index: 90 !important;
}

.ui-slider-range {
  background: #dde1e6;
}

.ui-state-focus {
  outline: 0;
}

.pips {
  width: 100%;
  position: relative;
  display: block;
  z-index: 60;
}
.pips .pip {
  position: absolute;
  font: 14px Roboto, sans-serif;
  color: #66788f;
  white-space: nowrap;
  transform: translateX(-20px);
  margin-top: 14px;
}
.pips .pip::before {
  content: "";
  position: absolute;
  top: -14px;
  width: 3px;
  height: 5px;
  background: #a1acba;
  left: 50%;
  cursor: pointer;
}

.pip1 {
  left: 30px;
}
.pip1::before {
  display: none;
}

.pip2 {
  left: 20%;
}

.pip3 {
  left: 40%;
}

.pip4 {
  left: 60%;
}

.pip5 {
  left: 80%;
}

.pip6 {
  left: 96%;
}
.pip6::before {
  display: none;
}

.pip1-1 {
  left: 30px;
}
.pip1-1::before {
  display: none;
}

.pip2-2 {
  left: 25%;
}

.pip3-3 {
  left: 50%;
}

.pip4-4 {
  left: 75%;
}

.pip5-5 {
  left: 96%;
}
.pip5-5::before {
  display: none;
}

@media only screen and (max-width: 576px) {
  .pip2,
.pip3,
.pip4,
.pip5,
.pip2-2,
.pip3-3,
.pip4-4 {
    display: none;
  }

  .pip6 {
    left: 90%;
  }
}
.cresults__result {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.cresults__labels {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}
.cresults__label--title {
  max-width: 115px;
  color: #001e45;
  display: block;
  font: 500 16px Roboto, sans-serif;
  line-height: 1.5;
}
.cresults__label--summ {
  color: #001e45;
  display: block;
  font: 700 36px Roboto, sans-serif;
  white-space: nowrap;
  line-height: 1;
}
.cresults__progress {
  position: relative;
  height: 4px;
  width: 100%;
  display: block;
}
.cresults__progress--gray {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 3px;
  width: 100%;
  background: #dde1e6;
}
.cresults__progress--red {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 3px;
  background: #cc003d;
}
.cresults__checkbox {
  margin-bottom: 40px;
}
.cresults__link {
  font-size: 18px;
  color: #001e45;
  margin-left: 30px;
  display: block;
  margin-bottom: 40px;
  font-weight: 500;
}
.cresults__link:hover {
  color: #cc003d;
}
.cresults__btn {
  padding: 23px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cc003d;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
  font-size: 19px;
}
.cresults__btn:hover {
  color: #fff;
  background: #b30035;
}

@media only screen and (max-width: 576px) {
  .cresults__label--summ {
    font: 700 26px Roboto, sans-serif;
  }
  .cresults__link {
    font-size: 14px;
  }
}
.cresults__btn--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.cresults__btn--disabled:hover {
  background: #cb003d;
}

.custom-checkbox {
  display: flex;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.checkbox-hidden {
  display: none;
}

.checkbox-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  max-width: 25px;
  flex: 0 0 25px;
  height: 25px;
  border-radius: 2px;
  background: #cc003d;
}

.custom-checkbox input:checked + .checkbox-wrap::after {
  transform: scale(1);
  opacity: 1;
}

.custom-checkbox .checkbox-wrap::after {
  content: "";
  display: block;
  width: 12px;
  height: 10px;
  background: url(../img/svg-check-ic.svg) no-repeat 0 0;
  will-change: transform;
  transform: scale(0);
  opacity: 0;
  transition: all 0.1s linear;
}

.checkbox-text {
  margin-left: 10px;
  color: #001e45;
  line-height: 1.1;
  margin-top: -3px;
  font-size: 18px;
  width: 80%;
  font-weight: 500;
}

@media only screen and (max-width: 576px) {
  .checkbox-text {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */
